// Brand
$brand-primary: #d51; //orange-red
$brand-secondary: #e6a33d; //sandy-brown

// Neutrals
$brand-dark: #333;
$brand-mid: #666;
$brand-light: #ddd;

// Fonts
$brand-font-head: "abril-titling-narrow", serif;
$brand-font-body: "azo-sans-web", sans-serif;
